html, body, form, fieldset, legend, div, label, input {
  margin:0; padding:0; border:none; font-size: 100%; font: inherit; vertical-align: baseline;
}

html {}
body {background-color:#eee; font-family: 'helvetica neue', helvetica, arial, sans-serif; color:#222;}

#form {
  width: 100vw; max-width:700px;
  margin: 0px auto; padding: 5vw;
  box-sizing: border-box;
}
form {border:1px solid red;}
fieldset {}
legend {display:none;}

.form-message {border: 2px solid #aaa; padding:1em; box-sizing: border-box;}
.form-error {border-color: red;}

.form-field {display: flex;}
label, input {
  width:50%;
  margin:0.4em; padding:0.4em;
  box-sizing:border-box;
  justify-content: space-between;

  font-size: 1.1em;
}
label {
  text-align: right;
}
input {
  border: 2px solid #aaa;
  border-radius:2px;
}
input[type="submit"] {}